{% extends "@app/base.html.twig" %}

{% block content %}
    <main class="row lg">
        <div class="col">
            <h2 class="content__h2">Results:</h2>
            <ul class="crawled__list">
                {% for image in images %}
                    <li class="crawled__item">
                        <strong>Title: </strong>
                        {{- image.title -}} <br/>
                        <strong>Alt: </strong>
                        {{- image.alt -}} <br/>
                        <img class="crawled__image" src="{{ image.src }}" title="{{ image.title }}" alt="{{ image.alt }}">
                    </li>
                {% else %}
                    <p class="crawled__error">ImageCrawler could not find any images on this website :(</p>
                {% endfor %}
            </ul>
        </div>
    </main>
    <div class="row lg content__backbutton-row">
        <div class="col">
            <p>
                <a href="/" class="content__backbutton">Back to index</a>
            </p>
        </div>
    </div>
{% endblock %}